{% extends 'shop/basic.html' %}

{% block title%} About Us-ShopClues{% endblock %}
{% block body %} 
<main>
  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      
    </header>

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">About ShopClues</h1>
        <p class="col-md-8 fs-4">ShopClues is an Indian Ecommerce website,
inspired by the success of amazon and flipkart in India.
On Shopclues user can order their product easily and effectivley.
Shopclues try to cover product from all domain.
Shopclues is been developed and managed by Ashutosh Sharma and Anushka Kamalja.
The development of shopclues is started at the year 2021 and it is still under process.
</p>

      </div>
    </div>

   
      

    <footer class="pt-3 mt-4 text-muted border-top">
      
    </footer>
  </div>
</main>
 {% endblock %}
