{% extends 'shop/basic.html' %}

{% block title%} Contact-ShopClues{% endblock %}
{% block body %} 
<main>
  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      
    </header>

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Contact ShopClues</h1>
        
<p class="col-md-8 fs-4">For Contacting us Try to reach out through email listed. <br>

<pre>For Ashutosh Sharma 
<link="ashutosh123@gmail.com">ashutosh123@gmail.com</link>
</pre>
<pre>
For Anushka Kamalja
<link="anushka123@gmail.com">anushka123@gmail.com</link>
</pre>
<p>You can also connect through mobile call:1234567891

</p>

      </div>
    </div>
    <footer class="pt-3 mt-4 text-muted border-top">
      
    </footer>
  </div>
</main>

 {% endblock %}
